.main-app {
  background: linear-gradient(rgba(49, 48, 48, 0.705), rgba(78, 55, 87, 0.527)),url('../Assets/moritz-mentges-2RLRbRkWtpc-unsplash.jpg');
  width: 100%;
  height: 48rem;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Questrial';
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
}