$faded-purple: rgba(74, 21, 160, 0.452);
$faded-blue: rgba(18, 125, 247, 0.452);
$bright-green: rgb(0, 255, 136);


.users-main-page {
  display: flex; 
  width: 98%;
  height: 42rem;
  margin-top: 2%;
  align-items: center;
  background: linear-gradient($faded-purple, $faded-blue);
}

.user-features-section {
  height: 100%;
  width: 25%;
  border-right: solid 1px $bright-green;
  display: flex;
  flex-direction: column;
}

.feature-button {
  height: 4rem;
  border: solid 1px $bright-green;
  background-color: transparent;
  color: $bright-green;
  margin-top: 2px;
  font-size: 1.4em;

    &:hover {
      background-color: $bright-green;
      color: rebeccapurple;
    }
}

.display-content-section {
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro {
  color: #fff;
  font-size: 2.5em;
}